@import './base.scss';
@import './element-plus.scss';
@import './iconfont.css';
@import './transition.scss';
@import './variables.scss';
@import './components/sidebar.scss';

// 解决 driver 色块问题
div#driver-highlighted-element-stage,
div#driver-page-overlay {
  background: transparent !important;
  outline: 5000px solid rgba(0, 0, 0, 0.75);
}

// 实现 element-plus 官网 header
.element-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  background-image: radial-gradient(transparent 1px, #fff 1px);
  background-size: 4px 4px;
  backdrop-filter: saturate(50%) blur(4px);
  pointer-events: none;
}
